@charset "UTF-8"; /* CSS Document */

{
 color:brown;
 background-color: lightbule;
 font-size:
}
h2 {
	color: #90C;
}
.main-name {
	max-weigth: 300px;
	border: 1px solid pink;
	color: white;
	animation-delay: 50ms;
	font-size: 50px;
	text-align: center;
	background: #000;
}
.top {
	height: 200px;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, purple, yellow); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, purple, yellow); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, purple, yellow); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, purple, yellow); /* Standard syntax (must be last) */
	weight: 100%;
	height: 30px;
}
.top_content {
	width: 1000px;
	margin: 0 auto;
}
.top_content li {
	height: 30px;
	width: 80px;
	float: right;
	color: white;
}
#education {
	background-color: #FFC;
	font-size: 24px;
	font-size-adjust: inherit;
	color: #066;
}
.content {
	font-style: inherit;
	font-stretch: extra-condensed;
	font-size: 24px;
	color: #039;
}
.right_text {
	float: right;
}
.project {
	background: #CFC;
}
img {
	border-radius: 30%;
}
