@charset "UTF-8"; /* CSS Document */
.container-fluid{
	background:#936;
}



h2 {
	color: #90C;
}
#project {
	background: #CFC;
	font-size: 1.5em;
	font-size-adjust: inherit;
	color: #066;
	height: 800px;
	padding:5%;
}
img {
	border-radius: 5%;
	width: 100%;
	height: auto;
	margin-top: 70px;
	margin-left:0%;
}
.photo img{
	height:300px;
}
.photo_clu {
	
    float: left;
    width: 20%;
    height: auto;
    margin: 10px;
    
}
.clu{
	margin-left:25%;
	margin-right:5%;
	padding-top:10%;
	vertical-align:central;
	
}




#education {
	
	background-color: #FFC;
	background: linear-gradient(to top, lightgray, #FFF);
	font-size: 1.5em;
	font-size-adjust: inherit;
	width: 100%;
	color: #066;
	height: 800px;
	padding:5%;
}

.right_text {
	float: right;
	font-size:0.8em;
}
#highlights {
	background: lightyellow; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom right, #9FC, lightgray);
	font-size: 1.5em;
	font-size-adjust: inherit;
	color: #066;
	height: 800px;
	padding:5%;
}
#work {
	background: lightblue; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom, white, lightblue);
	font-size: 1.5em;
	font-size-adjust: inherit;
	color: #066;
	height: 1100px;
	overflow:hidden;
	padding:5%;
}
#course {
	background: lightblue; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom, white, lightgreen);
	font-size: 1.5em;
	font-size-adjust:inherit;
	color: #066;
	height: 800px;
	width:100%;
	padding:5%;
}
.course{
	
	float:left;
	width:50%;
	font-size: 1.5em;
}

.content {
	font-style: inherit;
	font-stretch: extra-condensed;
	font-size: 1.5em;
	color: #039;
	padding:5%;
	text-align:center;
}
	
