@charset "UTF-8"; /* CSS Document */
.container-fluid{
	background:#936;
}


h2 {
	color: #90C;
}
#project {
	background: #CFC;
	font-size: 1.5em;
	font-size-adjust: inherit;
	color: #066;
	height: 800px;
}
img {
	border-radius: 5%;
	width: 100%;
	height: 300px;
	margin-top: 70px;
	margin-left:0%;
}

.top {
	background: blue; /* For browsers that do not support gradients */
	background: linear-gradient(to top right, pink, blue);
	weight: 100%;
	height: 50px;
	position: fixed;
}
.top_content {
	width: 100%;
	margin: 0 auto;
}
.top_content li {
	height: 30px;
	width: 100px;
	float: right;
	color: white;
}
#education {
	<br><br>
	background-color: #FFC;
	background: linear-gradient(to top, lightgray, #FFF);
	font-size: 1.5em;
	font-size-adjust: inherit;
	color: #066;
	height: 800px;
}
.content {
	font-style: inherit;
	font-stretch: extra-condensed;
	font-size: 1.5em;
	color: #039;
}
.right_text {
	float: right;
}
#highlights {
	background: lightyellow; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom right, #9FC, lightgray);
	font-size: 1.5em;
	font-size-adjust: inherit;
	color: #066;
	height: 800px;
}
#work {
	background: lightblue; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom, white, lightblue);
	font-size: 1.5em;
	font-size-adjust: inherit;
	color: #066;
	height: 1100px;
}
#course {
	background: lightblue; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom, white, lightgreen);
	font-size: 1.5em;
	font-size-adjust:inherit;
	color: #066;
	height: 800px;
}
